/* home.html ================================================== */
.home-page-container {
  padding: 0 !important;
}

/* sidebar.html ================================================== */
.add-room-btn {
  margin-left: 13%;
  margin-bottom: 10px !important;
}

.room-list {
  background: #ccc;
  color: #333;
  float: left;
  height: 100vh;
  width: 25%;
}

.room-list-title {
  padding: 50px 0 20px 13%;
}

.room-list-item a {
  color: #777;
  display: block;
  padding: 5px 0 5px 13%;
  text-decoration: none !important;
  text-transform: capitalize;
}

.room-list-item a:hover {
  background: #aaa;
  color: #333;
}

.active {
	background: #aaa;
  color: #333;	
}

/* message.html ================================================== */

.room-board {
  float: left;
  width: 75%;
}

.room-board__title {
  margin: 0;
  padding: 30px;
  text-transform: capitalize;
}

.room-board__msg {
	padding: 15px 30px;
}

.room-board__msg p {
	margin: 0;
}

.room-board__msg p:first-child {
	margin-bottom: 10px;
} 

.room-board__msg:nth-of-type(odd) {
	background: #eee;
}